.chat {
    margin-top: 5rem;
}

div.chat-content {
    border-radius: .25rem;
    height: 25rem;
}

.card {
    height: 100%;
}

h6 {
    margin-top: 2rem;
}

.dropdown {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
