<div class="h-100 w-100 bg-dark">
  <div class="cover-container d-flex p-3 mx-auto flex-column bg-dark text-white text-center">
    <main class="px-3 w-50 mx-auto my-auto">
      <h1>Find new music and new friends!</h1>
      <p class="lead">TrakTalk is a platform to discover new music while simultaneously giving you a chatroom to talk about the song you're listening to with others.</p>
      <p class="lead">
        <a href="/discover" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Discover</a>
      </p>
    </main>
  </div>
</div>
